@import "../../../../assets/styles/scss/config-styles/vars";

.container {
  position: relative;

  width: 100%;
  height: 100%;
  @include centered-container;

  .glow {
    opacity: 0.5;
  }

  .philosophy {
    position: relative;

    padding: 60px;

    display: flex;
    justify-content: space-between;
    overflow: hidden;

    #bgObject {
      bottom: -340px;
      left: -224px;

      width: 900px;
      height: 900px;
    }

    .textContent {
      width: 550px;
      flex-shrink: 0;

      @media (max-width: 1200px) {
        width: 400px;
      }

      .title {
        margin-bottom: 40px;
      }

      .text {
        font-size: 20px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.5);

        @media (max-width: $laptop-l-width) {
          font-size: 16px;
        }
      }
    }

    .believes {
      width: 900px;
      margin-bottom: 260px;
      margin-left: 30px;

      display: flex;
      flex-direction: column;
      row-gap: 50px;

      .element {
        display: flex;
        align-items: center;
        column-gap: 40px;

        @media (max-width: $laptop-l-width) {
          column-gap: 30px;
        }

        &:nth-child(2n) {
          justify-content: flex-end;
        }

        .point {
          padding: 30px 60px;

          border: 1px solid white;
          background-color: transparent;
          border-radius: 20px;
          font-size: 20px;

          @media (max-width: $laptop-l-width) {
            font-size: 18px;
            padding: 30px 40px;
          }
        }

        .explanation {
          position: relative;

          width: 50px;
          height: 50px;
          padding: 10px 20px;

          border: 1px solid white;
          background-color: transparent;
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          cursor: pointer;
          user-select: none;

          transition: border-color 0.3s, background-color 0.3s;

          &:hover {
            border-color: $selected-color !important;
          }

          .tooltip {
            @media (max-width: $laptop-l-width) {
              right: 2px;
              left: auto;
            }
          }
        }
      }
    }
  }

  .fullSizeImage {
    width: 100%;
    height: 454px;
  }
}

.explanationActive {
  background-color: $selected-color;
  border-color: $selected-color;
}
