@import "../../../../assets/styles/scss/config-styles/vars";

.partners {
  position: relative;

  width: 100%;

  .partnerships {
    position: relative;

    @include centered-container;
    @include page-padding;

    #bgObject {
      top: -200px;
      left: 0;

      width: 1226px;
      height: 876px;

      opacity: 0.5;

      @media (max-width: $laptop-l-width) {
        top: -180px;
        width: 920px;
        height: 657px;
      }
    }

    .firstTitle {
      @media (max-width: $tablet-width) {
        margin-top: 400px;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;

      margin-top: 400px;

      @media (max-width: $laptop-l-width) {
        margin-top: 290px;
      }

      @media (max-width: $tablet-width) {
        margin-top: 100px;
      }

      .left {
        display: flex;
        align-items: flex-end;
        column-gap: 30px;

        @media (max-width: $tablet-width) {
          flex-direction: column;
        }

        .text {
          width: 584px;

          @media (max-width: $laptop-l-width) {
            width: 531px;
          }
        }

        .exploreBtn {
          width: auto;

          display: flex;
          align-items: flex-end;
          justify-content: center;
          column-gap: 35px;

          outline: none;

          cursor: pointer;

          transition: border-bottom 0.3s;

          @media (max-width: $laptop-l-width) {
            font-size: 24px;
          }
          @media (max-width: $tablet-width) {
            display: none;
          }

          &:hover {
            border-bottom: 1px solid $selected-color;

            .exploreBtnText {
              padding-bottom: 20px;

              color: $selected-color;
            }

            .arrow {
              rotate: 45deg;

              path {
                fill: $selected-color;
              }
            }
          }

          .exploreBtnText {
            color: $default-text-color;
            font-size: 32px;
            text-transform: capitalize;
            flex-shrink: 0;

            transition: padding-bottom 0.3s, color 0.3s;
          }

          .arrow {
            width: 60px;
            height: 60px;
            padding-bottom: 20px;
            flex-shrink: 0;

            transition: rotate 0.3s;

            path {
              transition: fill 0.3s;
            }
          }
        }

        .tabletButtonLink {
          display: none;

          @media (max-width: $tablet-width) {
            display: block;
          }

          .tabletButton {
            margin-top: 40px;
            padding: 6px 0;
            font-size: 16px;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: 500;
          }
        }
      }

      .right {
        width: 280px;

        display: flex;
        flex-direction: column;

        @media (max-width: $laptop-l-width) {
          width: 200px;
          margin-left: 20px;
        }

        @media (max-width: $laptop-l-width) {
          width: 150px;
        }

        .bigText {
          font-weight: 700;
          font-size: 100px;
          line-height: 0.9;
          text-transform: uppercase;
          text-align: right;

          @media (max-width: $laptop-l-width) {
            font-size: 70px;
          }

          @media (max-width: $tablet-width) {
            font-size: 50px;
          }
        }

        .smallText {
          font-weight: 500;
          font-size: 40px;
          text-align: center;
          text-transform: lowercase;

          @media (max-width: $laptop-l-width) {
            font-size: 30px;
          }

          @media (max-width: $tablet-width) {
            font-size: 20px;
          }
        }
      }
    }
  }

  .clients {
    position: relative;

    height: 300px;
    margin-top: 200px;

    @media (max-width: $laptop-l-width) {
      margin-top: 120px;
    }

    .title {
      margin-bottom: 120px;

      padding: 0 $page-padding-desktop;

      @media (max-width: $laptop-l-width) {
        padding: 0 $page-padding-laptop;
      }
    }

    .clientsCarouselWrapper {
      position: relative;
      height: 80px;

      .clientsCarousel {
        position: absolute;

        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 100px;
      }

      .shadow {
        position: absolute;
        left: -60px;
        top: 50%;
        transform: translateY(-50%);

        width: calc(100% + $page-padding-desktop * 2);
        height: 120px;

        box-shadow: inset -100px 0px 50px 5px $default-bg-color, inset 100px 0px 50px 5px $default-bg-color;

        z-index: 10;

        @media (max-width: $laptop-l-width) {
          left: -40px;
          width: calc(100% + $page-padding-laptop * 2);
        }
      }
    }
  }
}

.center {
  text-align: center;
}
