@import "../../../assets/styles/scss/config-styles/vars";

.textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
  //width: 600px;
  width: 100%;
  max-width: 600px;
}

.adminField {
  width: 100%;
}

.projectDescription {
  width: 100% !important;
  max-width: 800px;
  min-height: 100px;
  max-height: 200px;
  resize: vertical;

  @media (max-width: $tablet-width) {
    min-height: 200px !important;
    max-height: 300px !important;
  }
}

.feedbackText {
  width: 800px;
  max-height: 300px;
  resize: vertical;

  @media (max-width: $tablet-width) {
    width: 100%;
    max-width: 600px;
  }
}

.images {
  width: 800px;
  height: 200px;

  margin-top: 100px !important;
  margin-bottom: 50px !important;
  gap: 0 !important;

  button {
    width: 100%;
    height: 100%;

    font-size: 24px;
  }
}

.textBlock {
  width: 50%;

  @media (max-width: $tablet-width) {
    width: 100%;
    max-width: 600px;

    margin-bottom: 20px;
  }
}

.worksImages {
  margin-top: 100px !important;
  margin-bottom: 50px !important;

  display: block !important;

  button {
    margin: 10px 0;
  }

  .worksImagesPlace {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    .workImagePlace {
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 12px;
      overflow: hidden;

      background-color: #dedede;

      .workPreviewImage {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.feedback {
  padding-bottom: 30px !important;

  @media (max-width: $tablet-width) {
    margin-bottom: 0 !important;
  }
}

.form {
  padding-bottom: 50px;
}

.fieldFullWidth {
  width: 800px;

  @media (max-width: $tablet-width) {
    width: 100%;
    max-width: 600px;
  }
}

.selectImage {
  height: auto !important;
  border-radius: 0 !important;
  margin-left: 30px;
  position: relative;

  @media (max-width: $tablet-width) {
    max-width: 600px;
    margin-left: 0 !important;
  }

  p {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  button {
    margin-bottom: 10px;
  }

  .imagePlace {
    height: 478px !important;

    background-color: #dedede;
    border-radius: 20px;

    @media (max-width: $tablet-width) {
      height: 320px !important;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /*button {
    width: 100%;
    height: 100%;

    font-size: 24px;
  }*/
}

.addServiceButton {
  width: 800px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 100%;
    max-width: 600px;
  }
}

.adminContent {
  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}
