@import "../../../assets/styles/scss/config-styles/vars";

.footer {
  width: 100%;
  height: 400px;
  @include page-padding;
  @include centered-container;

  @media (max-width: $mobile-width) {
    margin-bottom: 60px;
  }

  .info {
    max-width: 900px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;

    margin: 0 auto;

    .text {
      font-size: 20px;
      text-align: center;

      @media (max-width: $mobile-width) {
        font-size: 16px;
        text-align: center;
        opacity: 0.5;
      }
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: 35px;

      .text {
        font-size: 16px !important;

        @media (max-width: $mobile-width) {
          font-size: 16px;
          line-height: 250%;
          letter-spacing: -0.01em;
          opacity: 1;
        }
      }
    }

    .socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 16px;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        outline: none;
      }
    }
  }
}
