@import "../../../../assets/styles/scss/config-styles/vars";

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 140px;
  padding: 0 $page-padding-desktop;

  @media (max-width: $laptop-l-width) {
    padding: 0 $page-padding-laptop;
  }

  .title {
    margin-bottom: 24px;
    text-align: center;
  }

  .stepsList {
    margin-top: 120px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;

    .step {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      width: 300px;
      max-width: 330px;

      .iconBorder {
        width: 50px;
        min-width: 50px;
        height: 50px;
        padding: 10px;
        margin-bottom: 20px;
      }

      .stepTitle {
        margin-bottom: 20px;

        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
      }

      .stepDescription {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

.stepAdmin {
  width: 400px !important;

  @media (max-width: $laptop-width) {
    width: 200px !important;
  }
}
