@import "../../../assets/styles/scss/config-styles/vars";

.addProject {
  position: relative;

  width: 100%;
  height: 100%;
  @include centered-container;
  overflow: hidden;

  #bgObject1 {
    top: 0;
    left: 70%;
    transform: translateX(-70%);
  }

  #bgObject2 {
    top: 50px;
    left: 0;
  }

  #bgObject3 {
    right: -$page-padding-desktop;
    bottom: -300px;
    transform: scaleX(-1);
  }

  .glow {
    opacity: 0.6;
    max-width: 800px;
    max-height: 500px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  form {
    .content {
      position: relative;

      width: 100%;
      //height: calc($aside-socials-height - $header-height);
      @include page-padding;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .textBlock {
        width: 100%;
        max-width: 600px;

        .textarea {
          resize: vertical;
          min-height: 160px;
          max-height: 300px;
        }
      }

      .imageWrapper {
        width: 100%;
        min-width: 450px;
        height: auto !important;
        border-radius: 0 !important;
        margin-left: 30px;
        position: relative;

        p {
          width: 100%;
          text-align: left;
          margin-bottom: 10px;
        }

        button {
          margin-bottom: 10px;
        }

        .imagePlace {
          height: 478px !important;

          background-color: #dedede;
          border-radius: 20px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            border-radius: 20px;
          }
        }

        /*button {
          width: 100%;
          height: 100%;

          font-size: 24px;
        }*/
      }
    }

    .addServiceButton {
      width: 600px;
      margin: 0 auto;
    }
  }
}
