@import "../../../assets/styles/scss/config-styles/vars";

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 0.2;}
}

.home {
  @include main-container;

  .flexContainer {
    display: flex;
    justify-content: space-between;

    @media (max-width: $laptop-l-width) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $tablet-width) {
      margin-bottom: 120px;
    }

    .butterfly {
      position: relative;
      width: 62%;
      margin-top: 100px;

      display: flex;
      justify-content: center;
      align-items: center;

      opacity: 0.2;

      animation: fadeIn 1s ease-in-out;

      @media (max-width: $laptop-l-width) {
        width: auto;
        margin-top: 0;
      }

      canvas {
        scale: 1.1;
        width: 100%;
        height: 100%;

        @media (max-width: $laptop-l-width) {
         scale: 1;

          width: 900px !important;
          height: 630px !important;
        }
      }
    }

    .textContainer {
      position: relative;
      width: 590px;
      height: 740px;
      margin-top: 60px;
      flex-shrink: 0;

      @media (max-width: $laptop-l-width) {
        margin-top: 0;

        width: 870px;
        height: 210px;
      }
      @media (max-width: 905px) {
        width: 760px;
      }

      #crafting {
        top: 60px;

        @media (max-width: $laptop-l-width) {
          top: 0;
        }
        @media (max-width: 905px) {
          left: 20px;
        }
      }

      #stories {
        top: 220px;

        @media (max-width: $laptop-l-width) {
          top: 0;
          left: 240px;
        }
        @media (max-width: 905px) {
          left: 220px;
        }
      }

      #brands {
        top: 300px;
        right: 0;

        @media (max-width: $laptop-l-width) {
          top: 0;
          left: 675px;
        }
        @media (max-width: 905px) {
          left: 580px;
        }
      }

      #building {
        top: 380px;

        @media (max-width: $laptop-l-width) {
          top: 0;
          left: 450px;
        }
        @media (max-width: 905px) {
          left: 395px;
        }
      }

      p {
        position: absolute;
      }

      .button {
        width: 280px;
        height: 60px;

        position: absolute;
        top: 310px;

        @media (max-width: $laptop-l-width) {
          top: 150px;
          left: 50%;
          transform: translateX(-50%);
        }
        @media (max-width: $tablet-width) {
          top: 160px;
        }
      }

      .bigText {
        font-weight: 800;
        font-size: 128px;
        letter-spacing: -0.06em;
        text-transform: uppercase;

        @media (max-width: $laptop-l-width) {
          font-size: 48px;
        }
        @media (max-width: 905px) {
          font-size: 40px;
        }
      }

      .smallText {
        font-weight: 800;
        font-size: 64px;
        letter-spacing: -0.03em;
        text-transform: uppercase;

        @media (max-width: $laptop-l-width) {
          font-size: 48px;
        }
        @media (max-width: 905px) {
          font-size: 40px;
        }
      }

      .description {
        top: 540px;
        max-width: 600px;
        margin-top: 80px;

        font-size: 24px;
        text-align: right;

        @media (max-width: $laptop-l-width) {
          //margin-top: 0;
          width: 100%;
          max-width: none;
          text-align: center;
          font-size: 16px;
          top: 0;
        }
        @media (max-width: $tablet-width) {
          padding: 0 $page-padding-mobile;
        }
      }
    }
  }
}
