@import "../../../assets/styles/scss/config-styles/vars";

.heroWrapper {
  position: relative;

  @include centered-container;

  .hero {
    width: calc(100% - $page-padding-desktop - $aside-socials-width);

    position: absolute;
    left: $aside-socials-width;
    top: $header-height;

    @media (max-width: $laptop-l-width) {
      width: calc(100% - $page-padding-laptop - $aside-socials-width);
    }
  }
}
